# Binaries
smartsyncserver
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Vault data
vault
data
checksums.json

# Build and test
build/
#test-vault/

# Config (keep example)
config.yaml
!config.example.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
